/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics*/

body {
    background-color: #ffffff;
    font-family: arial;
}

header {
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
;
}

.navigation {
    background-color: #DAA520;
    margin: 20px;
}

div {
    display: inline-table;
}

.logo {
    width: 350px;
    border: 2px dashed #000;
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
}

.nav {
    width: 400px;
    text-align: center;
    border: 2px dashed #000;
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
}

.login {
    width: 350px;
    border: 2px dashed #000;
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
    text-align: end;
}

.introduction {
    background-color: #00008B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro {
    background-color: #EE82EE;
    margin: 60px;
    border: 2px dashed #000;
    width: 900px;
    height: 400px;
}

.row-even {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feven {
    background-color: #1E90FF;
    margin: 60px;
    margin-right: 0px;
    border: 2px dashed #000;
    margin-left: 200px;
    width: 70%;
    height: 550px;
}

.seven {
    background-color: #FFC0CB;
    margin: 60px;
    margin-left: 0px;
    border: 2px dashed #000;
    margin-right: 200px;
    width: 35%;
    height: 550px;
}



.row-odd {
    background-color: #D3D3D3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fodd {
    background-color: #FFC0CB;
    margin: 60px;
    margin-right: 0px;
    border: 2px dashed #000;
    margin-left: 200px;
    width: 35%;
    height: 550px;
}

.sodd {
    background-color: #1E90FF;
    margin: 60px;
    margin-left: 0px;
    border: 2px dashed #000;
    margin-right: 200px;
    width: 70%;
    height: 550px;
}

.flast {
    background-color: #228B22;
    margin: 60px;
    border: 2px dashed #000;
    width: 79%;
    height: 950px;
}

.interaction {
    background-color: #23272A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-bottom: 35px;
}

.all-int {
    border:  dashed #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 80%;
}

.pink {
    background-color: #F08080;
    width: 25%;
    height: 700px;
}

.cyan {
    background-color: #20B2AA;
    width: 18.75%;
    height: 700px;
    border: #fff dashed;
}

.last-b {
    margin-top: 2px;
    background-color: #23272A;
    padding-top: 50px;
}

.end {
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 35px 0;
    width: 1000px;
    margin: 0 auto;
}

.button {
    background-color: #FFB6C1;
    border: 2px dashed #000;
    padding: 5px;
}

.logo-b {
    background-color: #FFB6C1;
    border: 2px dashed #000;
    padding: 5px;
}